.venv

__pycache__

*.sqlite3

staticfiles
media

docker-compose-prod.yml

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
